In [19]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("C:\\Users\\Krishna\\Desktop\\dataset\\data.csv")
df

              x1            x2  y
0    -119.366669  1.150000e+02  1
1    -101.108044  9.777716e+01  1
2    -130.278658  1.067677e+02  1
3    -114.703415  1.011955e+02  1
4    -119.366669  1.150000e+02  1
...          ...           ... ..
2222   98.714112  8.964312e+01  0
2223   96.633331  9.100000e+01  0
2224   85.673940  1.038393e+02  0
2225   78.958862  7.860537e+01  0
2226  109.624009  1.000000e+08  0

[2227 rows x 3 columns]

In [3]:
df.isna().sum()

x1    5
x2    3
y     0
dtype: int64

In [11]:
df=df.dropna()
print(df.isna().sum())

x1    0
x2    0
y     0
dtype: int64

In [12]:
df.describe()

                x1            x2            y
count  2219.000000  2.219000e+03  2219.000000
mean     -4.771837  8.967782e+04     0.442091
std      74.938264  2.986680e+06     0.496747
min    -134.369160 -1.348761e+02     0.000000
25%     -71.581453 -8.025966e+01     0.000000
50%      -9.750840 -1.566092e+00     0.000000
75%      59.963056  6.390448e+01     1.000000
max     134.508687  1.000000e+08     1.000000

In [17]:
x=df[["x1","x2"]]
y=df["y"]

In [34]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3)

In [35]:
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(1553, 2)
(666, 2)
(1553,)
(666,)

In [36]:
LogReg = LogisticRegression()
LogReg.fit(xtrain, ytrain)

LogisticRegression()

In [37]:
ypred = LogReg.predict(xtest)

In [38]:
ypred

array([1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0], dtype=int64)

In [39]:
from sklearn import metrics
metrics.confusion_matrix(ytest, ypred)

array([[298,  97],
       [164, 107]], dtype=int64)

In [40]:
metrics.accuracy_score(ytest, ypred)

0.6081081081081081

In [ ]:
from sklearn import svm
 from sklearn.svm import SVC
x=df[["x1","x2"]]
y=df["y"]

In [ ]:
linear_svc = svm.SVC(kernel='linear')
linear_svc.kernel.fit(x,y)

In [ ]:
linear_svc.kernel.score(x,y)

In [50]:
from sklearn.tree import DecisionTreeClassifier

In [51]:
x=df[["x1","x2"]]
y=df["y"]

In [53]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3)
clf = DecisionTreeClassifier()
clf = clf.fit(x,y)

In [54]:
y_pred = clf.predict(X_test)

1.0