In [1]:
import pandas as pd
import numpy as np
d1={"id":[1,2,3,4],"name":["a","b","c","d"]}
df1=pd.DataFrame(d1)
d2={"id":[1,2,3,4],"Marks":[23,11,16,30]}
df2=pd.DataFrame(d2)
print(df1)
print(df2)

   id name
0   1    a
1   2    b
2   3    c
3   4    d
   id  Marks
0   1     23
1   2     11
2   3     16
3   4     30

In [2]:
# Merge syntax
#merge(df1,df2,on="column")
d3=pd.merge(df1,df2)
print(d3)

   id name  Marks
0   1    a     23
1   2    b     11
2   3    c     16
3   4    d     30

In [5]:
#concat syntax
df3=pd.concat((df1,df2))
print(df3)

   id name  Marks
0   1    a    NaN
1   2    b    NaN
2   3    c    NaN
3   4    d    NaN
0   1  NaN   23.0
1   2  NaN   11.0
2   3  NaN   16.0
3   4  NaN   30.0

In [8]:
df3=pd.concat((df1,df2),keys=["df1","df2"])
print(df3)

       id name  Marks
df1 0   1    a    NaN
    1   2    b    NaN
    2   3    c    NaN
    3   4    d    NaN
df2 0   1  NaN   23.0
    1   2  NaN   11.0
    2   3  NaN   16.0
    3   4  NaN   30.0

In [11]:
# Sort by values
print(df2.sort_values(by=['Marks']))

   id  Marks
1   2     11
2   3     16
0   1     23
3   4     30

In [18]:
print(df2.sort_values(by=['id','Marks']))

   id  Marks
0   1     23
1   2     11
2   3     16
3   4     30

In [15]:
print(df2.sort_values(by=['id','Marks'],ascending=False))

   id  Marks
3   4     30
2   3     16
1   2     11
0   1     23

In [16]:
print(df2.sort_values(by=['id','Marks'],ascending=True))

   id  Marks
0   1     23
1   2     11
2   3     16
3   4     30

In [19]:
import pandas as pd
import numpy as np
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

print(df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [20]:
print(df[df["Team"]=="Riders"])

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
8   Riders     2  2016     694
11  Riders     2  2017     690

In [21]:
print(df.loc[df["Team"]=="Riders"])

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
8   Riders     2  2016     694
11  Riders     2  2017     690

In [22]:
print(df[df["Rank"]>=2])

      Team  Rank  Year  Points
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
8   Riders     2  2016     694
9   Royals     4  2014     701
11  Riders     2  2017     690

In [23]:
print(df[df["Rank"]<=2])

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
10  Royals     1  2015     804
11  Riders     2  2017     690

In [26]:
# Apply
def lower_case(st):
    return st.lower()
print(df["Team"].apply(lower_case))

0     riders
1     riders
2     devils
3     devils
4      kings
5      kings
6      kings
7      kings
8     riders
9     royals
10    royals
11    riders
Name: Team, dtype: object

In [31]:
def num_op(data):
    print(data)
num_op(df[['Points','Rank']])

    Points  Rank
0      876     1
1      789     2
2      863     2
3      673     3
4      741     3
5      812     4
6      756     1
7      788     1
8      694     2
9      701     4
10     804     1
11     690     2