                                                    SKILL ACTIVITY NO: 1
Name: Nitin Jayvant Borse                                                                                               Date:17-3-2021
PRN:1712206
School: School of Data Science
Program: Machine Learning and AI Analyst
Batch: ML6
Module Name: Python Programming
Module Code: ML06

#### Title: Pandas Groupby and Data Selection Assignment

Skills/Competencies to be acquired:
To gain an understanding of data and find clues from the data.
Assess assumptions on which statistical inference will be based.
To check the quality of data for further processing and cleaning if necessary.
To check for anomalies or outliers that may impact model.
Data Visualization.
Duration of activity: 1 Hour

1.What is the purpose of this activity?
Preview data.
Check total number of entries and column types.
Check any null values.
Check duplicate entries.

2.Steps performed in this activity.
1)Read .csv Datafile.
2)Solve indexing Problem one by one using iloc and loc.

3.What resources / materials / equipment / tools did you use for this activity?
1)Jupyter Notebook.
2)python 3.8
3)Machine Learning Libraries.

4.What skills did you acquire?
1)How to Pandas Library work
2)How to read .csv file
3)working of loc and iloc

5.Time taken to complete the activity?
1)Read .csv file-2 min
2)solve one by one indexing question-5 min
3)Total time taken to complete Skill activity=42 min

In [1]:
#Indexing
import pandas as pd
df=pd.read_csv("C:\\Users\\Omkar\\Downloads\\Teams.csv")
df

    Points  Rank    Team  Year
0      876     1  Riders  2014
1      789     2  Riders  2015
2      863     2  Devils  2014
3      673     3  Devils  2015
4      741     3   Kings  2014
5      812     4   Kings  2015
6      756     1   Kings  2016
7      788     1   Kings  2017
8      694     2  Riders  2016
9      701     4  Royals  2014
10     804     1  Royals  2015
11     690     2  Riders  2017

In [2]:
#1.Select the first value from the Points column of dataset, assigning it to variable first_point.
print(df.loc[[0],["Points"]])

   Points
0     876

In [3]:
#2.Select the first row of data (the first record)
df.iloc[0]

Points       876
Rank           1
Team      Riders
Year        2014
Name: 0, dtype: object

In [4]:
#3.Select the first 10 values from the Year column in dataset
print(df.loc[:9,["Year"]])

   Year
0  2014
1  2015
2  2014
3  2015
4  2014
5  2015
6  2016
7  2017
8  2016
9  2014

In [5]:
#4.Select the records with index labels 1, 2, 3, 5, and 8, assigning the result to the variable sample_records
print(df.iloc[[1,2,3,5,8],0:3])

   Points  Rank    Team
1     789     2  Riders
2     863     2  Devils
3     673     3  Devils
5     812     4   Kings
8     694     2  Riders

In [6]:
#5.Create a variable df containing the Rank, Points, Team columns of the records with the index labels 0, 5, 10.
print(df.iloc[[0,5,10],0:2])

    Points  Rank
0      876     1
5      812     4
10     804     1

In [7]:
#6.Create a variable df containing the Team and Rank columns of the last 5 records.
print(df.iloc[7:11,[1,2]])

    Rank    Team
7      1   Kings
8      2  Riders
9      4  Royals
10     1  Royals

In [8]:
#7.Create a variable df containing all even index labels
print(df.iloc[0::2,0:4])

    Points  Rank    Team  Year
0      876     1  Riders  2014
2      863     2  Devils  2014
4      741     3   Kings  2014
6      756     1   Kings  2016
8      694     2  Riders  2016
10     804     1  Royals  2015

In [9]:
#8.Create a variable df containing all odd index labels
print(df.iloc[1::2,0:4])

    Points  Rank    Team  Year
1      789     2  Riders  2015
3      673     3  Devils  2015
5      812     4   Kings  2015
7      788     1   Kings  2017
9      701     4  Royals  2014
11     690     2  Riders  2017