In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("C:\\Users\\Krishna\\Desktop\\dataset\\housing.csv")
df

        RM  LSTAT  PTRATIO    MEDV
0    6.575   4.98     15.3  504000
1    6.421   9.14     17.8  453600
2    7.185   4.03     17.8  728700
3    6.998   2.94     18.7  701400
4    7.147   5.33     18.7  760200
..     ...    ...      ...     ...
484  6.593   9.67     21.0  470400
485  6.120   9.08     21.0  432600
486  6.976   5.64     21.0  501900
487  6.794   6.48     21.0  462000
488  6.030   7.88     21.0  249900

[489 rows x 4 columns]

In [3]:
x=df.drop(columns="MEDV")
y=df["MEDV"]

In [5]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

In [15]:
#model
from sklearn.svm import SVR
model=SVR(kernel='linear')
model.fit(xtrain,ytrain)
ypred=model.predict(xtest)

In [16]:
pd.DataFrame({"Actial":ytest,"Predicted":ypred})

     Actial      Predicted
15   417900  441959.119111
250  632100  447797.946471
142  281400  411199.101516
392  577500  422038.835321
90   474600  442576.077146
..      ...            ...
443  344400  428061.017526
246  459900  447072.474241
300  464100  447411.012471
485  432600  440896.899981
171  617400  449281.934351

[98 rows x 2 columns]

In [17]:
from sklearn.metrics import r2_score

In [18]:
r2_score(ytest,ypred)

0.08444771647150495