In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("C:\\Users\\Krishna\\Desktop\\dataset\\PlayTennis.csv")
df

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Wind         14 non-null     object
 4   Play Tennis  14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le=LabelEncoder()
df=df.apply(le.fit_transform)

In [7]:
df

    Outlook  Temperature  Humidity  Wind  Play Tennis
0         2            1         0     1            0
1         2            1         0     0            0
2         0            1         0     1            1
3         1            2         0     1            1
4         1            0         1     1            1
5         1            0         1     0            0
6         0            0         1     0            1
7         2            2         0     1            0
8         2            0         1     1            1
9         1            2         1     1            1
10        2            2         1     0            1
11        0            2         0     0            1
12        0            1         1     1            1
13        1            2         0     0            0

In [10]:
x=df.drop(columns="Play Tennis")
y=df["Play Tennis"]

In [11]:
from sklearn.naive_bayes import GaussianNB

In [12]:
model=GaussianNB()
model.fit(x,y)
model.score(x,y)

0.9285714285714286

In [13]:
# summy,mid,weak,high

In [14]:
# suuny-->2 ,wid-->2, high-->0, weak-->1

In [16]:
ypred=model.predict([[2,2,0,1]])

In [17]:
ypred

array([0])

In [18]:
from sklearn.naive_bayes import MultinomialNB

In [19]:
model=MultinomialNB()
model.fit(x,y)
model.score(x,y)

0.8571428571428571

In [20]:
ypred=model.predict([[2,2,0,1]])
ypred

array([0])