In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("C:\\Users\\Krishna\\Desktop\\dataset\\housing.csv")
df

        RM  LSTAT  PTRATIO    MEDV
0    6.575   4.98     15.3  504000
1    6.421   9.14     17.8  453600
2    7.185   4.03     17.8  728700
3    6.998   2.94     18.7  701400
4    7.147   5.33     18.7  760200
..     ...    ...      ...     ...
484  6.593   9.67     21.0  470400
485  6.120   9.08     21.0  432600
486  6.976   5.64     21.0  501900
487  6.794   6.48     21.0  462000
488  6.030   7.88     21.0  249900

[489 rows x 4 columns]

In [3]:
df.isna().sum()

RM         0
LSTAT      0
PTRATIO    0
MEDV       0
dtype: int64

In [4]:
x=df.drop(columns=["MEDV"])
y=df["MEDV"]

In [5]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [6]:
from sklearn.ensemble import GradientBoostingRegressor

In [15]:
model=GradientBoostingRegressor(n_estimators=100,learning_rate=0.1,criterion="mse",max_depth=3)
model.fit(xtrain,ytrain)
ypred=model.predict(xtest)

In [16]:
pd.DataFrame({"Actual":ytest,"Predicted":ypred})

     Actual      Predicted
50   413700  439501.847477
364  228900  279921.242239
243  520800  558692.568211
437  312900  318319.414841
96   449400  485424.421831
..      ...            ...
330  686700  722103.660073
93   525000  504373.606427
441  312900  317826.166051
335  361200  424437.994492
182  672000  563159.701550

[98 rows x 2 columns]

In [17]:
from sklearn.metrics import r2_score

In [18]:
r2_score(ytest,ypred)

0.8220292194451471