In [77]:
pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [78]:
import pandas as pd

In [79]:
df=pd.read_csv('/content/Market_Basket_Optimisation.csv',header=None)

In [80]:
df

                 0                  1   ...       18         19
0            shrimp            almonds  ...  spinach  olive oil
1           burgers          meatballs  ...      NaN        NaN
2           chutney                NaN  ...      NaN        NaN
3            turkey            avocado  ...      NaN        NaN
4     mineral water               milk  ...      NaN        NaN
...             ...                ...  ...      ...        ...
7496         butter         light mayo  ...      NaN        NaN
7497        burgers  frozen vegetables  ...      NaN        NaN
7498        chicken                NaN  ...      NaN        NaN
7499       escalope          green tea  ...      NaN        NaN
7500           eggs    frozen smoothie  ...      NaN        NaN

[7501 rows x 20 columns]

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       5747 non-null   object
 2   2       4389 non-null   object
 3   3       3345 non-null   object
 4   4       2529 non-null   object
 5   5       1864 non-null   object
 6   6       1369 non-null   object
 7   7       981 non-null    object
 8   8       654 non-null    object
 9   9       395 non-null    object
 10  10      256 non-null    object
 11  11      154 non-null    object
 12  12      87 non-null     object
 13  13      47 non-null     object
 14  14      25 non-null     object
 15  15      8 non-null      object
 16  16      4 non-null      object
 17  17      4 non-null      object
 18  18      3 non-null      object
 19  19      1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB

In [82]:
df.isna().sum()

0        0
1     1754
2     3112
3     4156
4     4972
5     5637
6     6132
7     6520
8     6847
9     7106
10    7245
11    7347
12    7414
13    7454
14    7476
15    7493
16    7497
17    7497
18    7498
19    7500
dtype: int64

In [83]:
df.fillna(0,inplace=True)

In [84]:
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
dtype: int64

In [85]:
#data frame to list

trans=[]
for i in range(df.shape[0]):
    sub=[]
    for j in range(df.shape[1]):
        if str(df.values[i,j])!='O':
            trans.append([df.values[i,j]])
            trans.append(sub)

In [86]:
trans=[]
for i in range(df.shape[0]):
  trans.append( [ str(df.values[i,j]) for j in range(df.shape[1]) if str(df.values[i,j])!='0'] )

In [87]:
trans[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [88]:
from apyori import apriori

In [89]:
rules=apriori(trans,min_support=0.003,min_confidence=0.2,min_lift=3,min_length=0.2)

In [90]:
rules

In [91]:
df_rules=pd.DataFrame(list(rules))

In [92]:
df_rules.head()

                              items  ...                                 ordered_statistics
0            (chicken, light cream)  ...  [((light cream), (chicken), 0.2905982905982905...
1  (mushroom cream sauce, escalope)  ...  [((mushroom cream sauce), (escalope), 0.300699...
2                 (pasta, escalope)  ...  [((pasta), (escalope), 0.3728813559322034, 4.7...
3            (fromage blanc, honey)  ...  [((fromage blanc), (honey), 0.2450980392156863...
4      (ground beef, herb & pepper)  ...  [((herb & pepper), (ground beef), 0.3234501347...

[5 rows x 3 columns]

In [94]:
df_rules['ordered_statistics'][0][0][0]

frozenset({'light cream'})

In [95]:
df_rules['ordered_statistics'][0][0][1]

frozenset({'chicken'})

In [96]:
df_rules['ordered_statistics'][0][0][2]

0.29059829059829057

In [97]:
df_rules['ordered_statistics'][0][0][3]

4.84395061728395

In [98]:
lhs=[]
rhs=[]
conf=[]
lift=[]
for i in range(df_rules.shape[0]):
  order_stat=df_rules['ordered_statistics'][i][0]
  lhs.append(list(order_stat[0]))
  rhs.append(list(order_stat[1]))
  conf.append(order_stat[2])
  lift.append(order_stat[3])

In [100]:
final_report=pd.DataFrame({'LHS':lhs,'RHS':rhs,"Support":df_rules.support,'Confidence':conf,'Lift':lift})

In [102]:
final_report.sort_values(by='Confidence')

                                            LHS  ...      Lift
72                  [shrimp, frozen vegetables]  ...  3.348661
74                          [ground beef, milk]  ...  3.348661
56                          [ground beef, eggs]  ...  3.797975
53                        [pancakes, spaghetti]  ...  3.052910
17                         [chicken, spaghetti]  ...  3.060384
..                                          ...  ...       ...
58  [ground beef, frozen vegetables, chocolate]  ...  3.072100
67       [ground beef, frozen vegetables, milk]  ...  3.072100
21                   [ground beef, cooking oil]  ...  3.281995
54                        [olive oil, tomatoes]  ...  3.509912
14                       [cereals, ground beef]  ...  3.885303

[80 rows x 5 columns]

In [103]:
final_report[final_report['Confidence']>=0.2]

                                 LHS  ...      Lift
0                      [light cream]  ...  4.843951
1             [mushroom cream sauce]  ...  3.790833
2                            [pasta]  ...  4.700812
3                    [fromage blanc]  ...  5.164271
4                    [herb & pepper]  ...  3.291994
..                               ...  ...       ...
75          [olive oil, ground beef]  ...  3.632981
76           [ground beef, pancakes]  ...  3.532991
77           [ground beef, tomatoes]  ...  4.376091
78  [spaghetti, milk, mineral water]  ...  3.216994
79                  [milk, tomatoes]  ...  3.986501

[80 rows x 5 columns]